{% extends 'base.html' %}
{% block style %}
<style>

    html{
        scroll-behavior: smooth;
    }
   
    body{
        
    }   
    .head{
        text-align: center;
        font-family: 'Staatliches', cursive;
    }
    .para{

        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Noto Serif', serif;
        font-size: large;
    }
    .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        height: 400px;

    }
    #facebook{
        border: 1px;
        color: blue;
        font-size: 42px;
        position: absolute;
        margin-top: 10%;
        left: 27%;


    }
    #linkedin{
        background-color:#0e76a8;
        color:white;
        border: 1px;
        padding: 5px;
        font-size: 30px;
        position: absolute;
        margin-top: 15%;
        left: 27%;
    }
    #instagram{
        background-color: #00acee;
        color:white;
        border: 1px;
       
       
        position: absolute;
        margin-top: 20%;
        left: 27%;
    }
    #comment{
       margin-left: 28%;
    }
    #search{
        margin-left: 35%; 
        top: 7%;

    }
    #search_input{
        margin-top: 2%;
        margin-bottom: 2%;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
    .btn_search{
        padding: 7px;
        border: none;
        background-color: khaki;
        margin-left:1%;
        margin-top: 2%;
        margin-bottom: 2%;

    }
    .preform{
        text-align: center;
        font-size: large;
        
    
        
    }
    .video{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:500px;
        height:315px;
    }
    .imge{
        width: 100px;
        height: 100px;
       
        
    }
    .fa-instagram {
            width:34px; height:34px;
            background: #f09433; 
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
            padding: 7px;
            font-size: 20px;
            color: white;
            text-decoration: none;
        }
        .fl{
            
            margin-right: 10%;
            border-radius: 50%;
            background-color: rgb(134, 159, 204) ;
            padding: 10px;
            position: fixed;
            color: white;
            margin-top: 37%;
            margin-left: 90%;

        }
      
    .btn_search:hover{
        background-color: greenyellow;
    }
    @media screen and (max-width: 480px) {
        .image{
            margin-left:5px;
            margin-right: 5px;
            width: 97%;
        }
        #facebook{
            left: 5%;
            margin-top: 40%;
        }
        #linkedin{
            left: 5%;
            margin-top: 60%;
        }
        #instagram{
            left: 5%;
            margin-top: 80%;
        }
        .head{
            margin-top: 4px;
        }
        .fl{
            margin-left: 80%;
            margin-top: 90%;
        }
        .preform{
            margin-left: 3%;
            margin-right: 5%;
        }
        #comment{
            margin-left: 1%;
        }
        #search{
            margin-left:1%;
            top: 10%;

        }
        .video{
            width: 350px;
            height: 315px;
        }
        #search_input{
            display: inline;

            margin-right: 3%;
            margin-left: 2%;
        }
        .btn_search{
            margin-top:1%;
            margin-left: 2%;
        }

    }
</style>
{% endblock %}
{% block content %}
<form id="search" method="GET" action="/search" class="form-inline my-2 my-lg-0">
    <input size="40px" id="search_input" class="form-control mr-sm-2" type="search" required placeholder="🔍 Search Poetries By Name" name="query" id="query" aria-label="Search">
    <button type="submit" class="btn_search">Search</button>
</form>
<div class="fl">
    <a href="#ios"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
</div>
{% for blog in blogs %}
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://vyasbyte.pythonanywhere.com/" target="_blank"><i id="facebook" class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <i id="linkedin" hidden class="fa fa-linkedin" aria-hidden="true"></i>
    <a href="#" id="instagram" class="fa fa-instagram"></a>
    <h5 class="head" id="ios">🌟{{blog.name}}🌟</h1>
    
    <img class="image" src="{{blog.image.url}}" alt="hell">
    <p style="text-align: center;">{{blog.time}}</p>
   
    <p style="text-align: center;">By <b>{{blog.author}}</b> </p>
    
    <pre class="preform">{{blog.para}}</pre>
    <iframe class="video" src="{{blog.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="comment"><div id="comment" class="fb-comments" data-href="https://vyasbyte.pythonanywhere.com/{{blog.id}}" data-numposts="5" data-width=""></div></p>
    <hr>
    <hr>
{% endfor %}

{% endblock %}
